@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html {
    background-color: #afafaf;
}

.box {
    height: 644px;
    width: 402px;
    background-color: white;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.head {
    background-color: #f7f8fa;
    height: 62.46913528442383px;
    width: 402px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
}

.arrow {
    margin-left: auto;
    margin-right: 26.47px;
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(0deg);
    transition: transform 1s ease-out;
}

.arrow-r {
    transform: rotate(-90deg);
    transition: transform 1s ease-out;
}

.heading {
    margin-left: 26.47px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 22px;
}

.list {
    list-style-type: none;
    width: 100%;
    height: 45px;
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
